.header {
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    align-items: center;
    padding: 92px 50px 94px;
    font-size: 18px;
    text-underline-offset: 4px;
    line-height: 136%;
}

.header__logo {
    display: flex;
    width: 138px;
}

.address {
    font-style: normal;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.header__address {
    max-width: 240px;
    justify-self: end;
}

.header__address-list {
    list-style: none;
}

.header__links-list {
    display: flex;
    gap: 33px;
}

.header__links-list-item {
    list-style: circle;
}

.header__links-list-item_no-bullit {
    list-style: none;
}

.cover {
    background-image: url("/images/cover.jpg");
    min-height: 757px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-transform: uppercase;
    color: #fff;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.6);
    height: 100%;
}

.aligned-text {
    display: grid;
    font-size: 100px;
    letter-spacing: 0.3em;
    min-height: 200px;
}


.aligned-text_left {
    justify-self: start;
    padding-top: 165px;
    padding-left: 50px;
}


.aligned-text_center {
    justify-self: center;
    padding-top: 18px;
    padding-left: 30px;
}


.aligned-text_right {
    justify-self: end;
    padding-top: 18px;
    padding-right: 20px;
}

.cover__description {
    font-size: 21px;
    letter-spacing: 1px;
    display: grid;
    align-items: baseline;
    grid-template-columns: 2fr 1fr;
    padding: 105px 50px 50px;
}

.cover__description-text {
    word-spacing: 0.77em;
    justify-self: start;
}

.bet-button {
    all: unset;
    cursor: pointer;
    border: 1px solid #fff ;
    justify-self: end;
    padding: 12px 29px;
}

.lots {
    padding: 180px 24px 50px;
}

.lots__heading {
    text-transform: uppercase;
    font-size: 40px;
    padding-left: 40px;
}

.lots__card-list {
    list-style: none;
    gap: 25px;
    display: flex;
    flex-wrap: wrap;
}

.lots__card-list-item {
    width: 334px;
    min-height: 623px;
    padding-top: 26px;
}

.card-link {
    height: 100%;
    text-decoration: none;
}

.card {
    height: 100%;
 }

.card__content {
    padding: 48px 40px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #fff;
} 

.card_type_film {
    background-image: url("/images/card-lot-01.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
 }

.card_type_book {
    background-image: url("/images/card-lot-02.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
 }

.card_type_picture {
    background-image: url("/images/card-lot-03.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
 }

.card__title {
    text-transform: uppercase;
    font-size: 22px;
    text-decoration: underline;
}

.card__text {
    font-size: 20px;
}

.lots__look-more-link {
    display: inline-block;
    text-decoration: underline;
    text-underline-offset: 4px;
    padding-left: 40px;
    padding-top: 31px;
    font-size: 20px;
}

.about {
    padding: 103px 50px 50px;
    display: grid;
    grid-template-columns: 334px 1fr;
    grid-template-rows: auto auto;
    grid-template-areas:
        "about__logo about__title"
        ". about__text";
    align-items: center;
    font-size: 18px;
    text-underline-offset: 4px;
}

.about__column {
    padding-left: 21px;
}

.about__logo {
    grid-area: about__logo;
    background-color: #000;
    display: flex;
    width: 240px;
    height: 240px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
}

.about__logo-image {
    width: 148px;
    height: 114px;
}

.about__title {
    grid-area: about__title;
    text-transform: uppercase;
    font-size: 40px;
    align-items: center;
    padding-top: 8px;
}

.about__text {
    grid-area: about__text;
    font-size: 20px;
    line-height: 120%;
    align-self: start;
    margin-top: 8px;
}
.about__text p {
    margin-bottom: 24px;
}

.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: flex-start;
    padding: 108px 50px 94px;
    font-size: 18px;
    text-underline-offset: 4px;
    line-height: 133%;
}

.footer__menu-list {
    display: flex;
    flex-direction: column;
    list-style: none;
    place-items: center;
    line-height: 115%;
}

.footer__social-list {
    padding-left: 46px;
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: flex-start;
    justify-items:right;
}

.footer__social-icon {
    height: 48px;
}